In [14]:
#Importar as bibliotecas
import imp
import pandas as pd

#from variaveis.dictonary import var_dict_aluno,var_dict_nota

In [15]:
var_dict_aluno = {"aluno1":"Gabriel",
            "aluno2":"Lucas",
            "aluno3":"Freitinhas",
            "aluno4":"Miguelzim",
            "aluno5":"Duduzim",
            "aluno6":"Panqueca",
    
            }

var_dict_nota = {"aluno1":10,
            "aluno2":10,
            "aluno3":9,
            "aluno4":5,
            "aluno5":6,
            "aluno6":8,
    
            }

In [4]:
for item in vd.var_dict.keys() :
    print(vd.var_dict[item])

Gabriel
Lucas

In [16]:
var_dict_dados = {"alunos" : var_dict_aluno.values() , "notas": var_dict_nota.values()}
var_dict_dados

{'alunos': dict_values(['Gabriel', 'Lucas', 'Freitinhas', 'Miguelzim', 'Duduzim', 'Panqueca']),
 'notas': dict_values([10, 10, 9, 5, 6, 8])}

In [33]:
df_alunos =  pd.DataFrame(var_dict_dados)
df_alunos

       alunos  notas
0     Gabriel     10
1       Lucas     10
2  Freitinhas      9
3   Miguelzim      5
4     Duduzim      6
5    Panqueca      8

In [34]:
path1 = "C:\\Users\\lucas.oliveira\\Videos\\Demandas\\Python Scripts\\16_Python\\Dados\\VALE_BRU_SAN_2022_09_12_BIOAGRI_PUBLICADAS.xlsx"
path2 = ".\\Dados\\VALE_BRU_SAN_2022_09_12_BIOAGRI_PUBLICADAS.xlsx"
path_output = ".\\Dados\\"

In [ ]:
#importar
#pd.read_"tipoArquivo"

#exportar
#var_DataFrame.to_"tipoArquivo"

In [25]:
cols = ['#sys_sample_code','sample_matrix_code','sample_type_code','sample_date','sys_loc_code','task_code']

In [26]:
df = pd.read_excel(path2, sheet_name= "EFW2FSample", usecols = cols  )

In [30]:
df.describe()

C:\Users\lucas.oliveira\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,#sys_sample_code,sample_matrix_code,sample_type_code,sample_date,sys_loc_code,task_code
count,100,100,100,100,16,100.0
unique,100,2,8,10,7,6.0
top,47053/2022_LCS_BIO,AT,BM,2022-09-01 00:00:00,US018A,0.0
freq,1,90,42,18,6,84.0
first,NaN,NaN,NaN,2022-08-29 00:00:00,NaN,NaN
last,NaN,NaN,NaN,2022-09-09 00:00:00,NaN,NaN

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   #sys_sample_code    100 non-null    object
 1   sample_matrix_code  100 non-null    object
 2   sample_type_code    100 non-null    object
 3   sample_date         100 non-null    datetime64[ns]
 4   sys_loc_code        16 non-null     object
 5   task_code           100 non-null    object
dtypes: datetime64[ns](1), object(5)
memory usage: 4.8+ KB

In [36]:
var_num_arquivo = 1

In [37]:
df_alunos.to_excel(path_output + "Tabela_Alunos_" + str(var_num_arquivo) + ".xlsx", sheet_name= "Notas", index=False )